:root {
  --primary-color: hsl(160 55% 55%);
  --primary-color-opacity: hsl(160 55% 55% / 0.6);
  --primary-color-hover-opacity: hsl(160 55% 55% / 0.8);
  --bgBase-color: hsl(216 18% 16%);
  --bgHeader-color: hsl(216 10% 24%);
  --textBase-color: hsl(0 0% 93%);
}

body {
  background-color: var(--bgBase-color);
  margin: 0;
  color: var(--textBase-color);
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  background-image: linear-gradient(
    45deg,
    hsl(216deg 18% 16%) 1%,
    hsl(216deg 17% 17%) 43%,
    hsl(216deg 16% 18%) 50%,
    hsl(216deg 15% 19%) 51%,
    hsl(216deg 14% 20%) 51%,
    hsl(217deg 13% 21%) 49%,
    hsl(217deg 12% 22%) 49%,
    hsl(217deg 12% 23%) 50%,
    hsl(217deg 11% 24%) 57%,
    hsl(217deg 10% 25%) 99%
  );
  height: 100vh;
}

.button {
  width: 10rem;
  padding: 1rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary-color);
  background-color: var(--primary-color-opacity);
  cursor: pointer;
  font-size: 2.25rem;
  font-weight: bold;
  color: inherit;
  transition: outline-offset 0.1s ease;
}

.button:hover {
  background-color: var(--primary-color-hover-opacity);
}

.button:not(:active):focus-visible {
  outline-offset: 5px;
}
